3、假设张三和李四参加语文、数学、英语3个科目的考试，使用pandas库完成：
    1）假设df1是期中考试成绩，df2是期末考试成绩，请自由创建df1和df2，
    2）求期中期末平均值df3。
    3）假设张三期中考试数学被发现作弊，要记为0分，如何实现？
    4）李四因为举报张三作弊立功，期中考试所有科目加100分，如何实现？
    5）后来老师发现有一道题出错了，为了安抚学生情绪，给每位学生每个科目都加10分，如何实现？

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [25]:
# df1 = DataFrame(data = {'姓名':['张三','李四'],
#                         '语文':[70,80],
#                         '数学':[50,60],
#                         '英语':[70,80]}, 
#                 columns=['姓名','语文','数学','英语'])

df1 = DataFrame(data = {
                        '语文':[70,80],
                        '数学':[50,60],
                        '英语':[70,80]}, 
                columns=['语文','数学','英语'],
                index = ['张三','李四'])

In [26]:
df1

    语文  数学  英语
张三  70  50  70
李四  80  60  80

In [27]:
df2 = DataFrame(data = {
                        '语文':[40,80],
                        '数学':[60,60],
                        '英语':[70,80]}, 
                columns=['语文','数学','英语'],
               index = ['张三','李四'])

In [24]:
df1.loc['row_mean'] = df1.apply(lambda x: x.mean())
df1

            语文    数学    英语
张三        70.0  50.0  70.0
李四        80.0  60.0  80.0
row_mean  75.0  55.0  75.0

In [6]:
df2.loc['row_mean'] = df2.apply(lambda x: x.mean())
df2

            语文    数学    英语
张三        40.0  60.0  70.0
李四        80.0  60.0  80.0
row_mean  60.0  60.0  75.0

In [7]:
#     2）求期中期末平均值df3。
# score_mean = df.groupby('姓名')['price'].mean()

# def getmean(x):
#     mean = (x[0]+x[1]+x[2])/3
#     return mean
# df1['mean'] = df1.apply(getmean)
df3  = pd.merge(df1,df2,right_index=True,left_index=True)
df3

          语文_x  数学_x  英语_x  语文_y  数学_y  英语_y
张三        70.0  50.0  70.0  40.0  60.0  70.0
李四        80.0  60.0  80.0  80.0  60.0  80.0
row_mean  75.0  55.0  75.0  60.0  60.0  75.0

In [8]:
# ）假设张三期中考试数学被发现作弊，要记为0分

df3.iloc[0,0:3] = 0
df3

          语文_x  数学_x  英语_x  语文_y  数学_y  英语_y
张三         0.0   0.0   0.0  40.0  60.0  70.0
李四        80.0  60.0  80.0  80.0  60.0  80.0
row_mean  75.0  55.0  75.0  60.0  60.0  75.0

In [9]:
# 李四因为举报张三作弊立功，期中考试所有科目加100分，如何实现？


df3.iloc[1,0:3] += 100
df3

           语文_x   数学_x   英语_x  语文_y  数学_y  英语_y
张三          0.0    0.0    0.0  40.0  60.0  70.0
李四        180.0  160.0  180.0  80.0  60.0  80.0
row_mean   75.0   55.0   75.0  60.0  60.0  75.0

In [10]:
#  5）后来老师发现有一道题出错了，为了安抚学生情绪，给每位学生每个科目都加10分，
df3.iloc[:-1,0:3] += 10
df3

           语文_x   数学_x   英语_x  语文_y  数学_y  英语_y
张三         10.0   10.0   10.0  40.0  60.0  70.0
李四        190.0  170.0  190.0  80.0  60.0  80.0
row_mean   75.0   55.0   75.0  60.0  60.0  75.0

In [28]:
df4 = pd.concat([df1,df2],keys = ['期中','期末'])
df4

       语文  数学  英语
期中 张三  70  50  70
   李四  80  60  80
期末 张三  40  60  70
   李四  80  60  80

In [30]:
df4.iloc[0,:3]= 0
df4

       语文  数学  英语
期中 张三   0   0   0
   李四  80  60  80
期末 张三  40  60  70
   李四  80  60  80

In [31]:
df4.loc[:,:].mean()

语文    50.0
数学    45.0
英语    57.5
dtype: float64


4、假设菜市场王大妈在卖菜，有以下属性：   
   菜品(item)：萝卜，白菜，辣椒，冬瓜   
   颜色(color)：白，青，红   
   重量(weight)   
   价格(price)   
    1）要求以属性作为列索引，新建一个df
    2）对df进行聚合操作，求出颜色为白色的价格总和
    3）对df进行聚合操作，求出各种萝卜的所有重量以及平均价格

In [12]:
data = {'item':['萝卜','萝卜','白菜','辣椒','辣椒','冬瓜','冬瓜'],
       'color':['白','青','白','红','青','白','青'],
       'weight':np.random.randint(20,50,size = 7),
       'price':np.random.randint(1,8,size = 7)}
df = DataFrame(data,
    columns = ['item','color','weight','price'])
df

  item color  weight  price
0   萝卜     白      32      5
1   萝卜     青      26      7
2   白菜     白      44      6
3   辣椒     红      27      4
4   辣椒     青      35      6
5   冬瓜     白      47      5
6   冬瓜     青      49      7

In [13]:
df.set_index('item')

     color  weight  price
item
萝卜       白      32      5
萝卜       青      26      7
白菜       白      44      6
辣椒       红      27      4
辣椒       青      35      6
冬瓜       白      47      5
冬瓜       青      49      7

In [17]:
# 对df进行聚合操作，求出颜色为白色的价格总和 

dfw = df.groupby('color')['price']
dfw.sum()

color
白    16
红     4
青    20
Name: price, dtype: int64

In [18]:
# 3）对df进行聚合操作，求出各种萝卜的所有重量以及平均价格

df5 = df.groupby('item')['weight']
df5.sum()

item
冬瓜    96
白菜    44
萝卜    58
辣椒    62
Name: weight, dtype: int64

In [20]:
df.groupby('item')['price'].apply(lambda x: x.mean())

item
冬瓜    6.0
白菜    6.0
萝卜    6.0
辣椒    5.0
Name: price, dtype: float64